node_modules
.env
docker/data/*


# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# Build
out
build
bin

# Other
*.log
*.swp
*.bak

